@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400&display=swap");
:root {
  --animate: all 200ms ease-in-out;
  --ava: 74px;
  --chart-grid: 16px;
  --color-red: hsl(12, 88%, 59%);
  --color-dark-blue: hsl(228, 39%, 23%);
  --color-gray-blue: hsl(227, 12%, 61%);
  --color-very-dark-blue: hsl(233, 12%, 13%);
  --color-pale-red: hsl(13, 100%, 76%);
  --color-light: hsl(0, 0%, 98%);
  --color-white: #ffffff;
  --container: 1140px;
  --ff: "Be Vietnam Pro", sans-serif;
  --fs: 16px;
  --gap: 30px;
  --margin-section: 140px;
  --social-btn: 20px;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

/* global */
* {
  box-sizing: border-box;
}

body {
  background: url(../images/bg-tablet-pattern.svg) calc(50% + 480px) -170px no-repeat;
  color: var(--color-gray-blue);
  font-family: var(--ff);
  font-size: var(--fs);
  line-height: 26px;
  margin: 0;
}

p {
  margin: 0 0 24px;
}

b {
  font-weight: 500;
}

img {
  max-width: 100%;
}

/* main */
main {
  background: url(../images/bg-tablet-pattern.svg) calc(50% - 850px) calc(100% - 200px) no-repeat;
}

/* headers */
h1, h2 {
  color: var(--color-dark-blue);
  font-weight: 500;
}

h1 {
  font-size: 54px;
  line-height: 60px;
  margin: 0 0 30px;
}

h2 {
  font-size: 38px;
  line-height: 44px;
  margin: 0 0 24px;
}

/* animations */
.animateTop {
  opacity: 0;
  transform: translateY(80px);
  transition: all 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  position: relative;
}

.animateScale {
  opacity: 0;
  transform: scale(0.3);
  transition: all 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  position: relative;
}

.delay1 {
  transition-delay: 200ms;
}

.delay2 {
  transition-delay: 400ms;
}

.delay3 {
  transition-delay: 600ms;
}

.delay4 {
  transition-delay: 800ms;
}

/* animated */
.animate .animateTop {
  opacity: 1;
  transform: translateY(0);
}
.animate .animateScale {
  opacity: 1;
  transform: scale(1);
}

/* container */
.container {
  margin: 0 auto;
  padding: 0 calc(var(--gap) / 2);
  width: var(--container);
}

/* grid */
.grid {
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
}
.grid-6 {
  grid-template-columns: repeat(2, 1fr);
}

/* form-control */
.form-control {
  background: var(--color-light);
  border: 1px solid transparent;
  border-radius: 42px;
  display: inline-block;
  font-family: var(--ff);
  font-size: 12px;
  height: 42px;
  line-height: 20px;
  outline: none;
  padding: 9px 16px;
  -webkit-appearance: none;
}
.form-control.error {
  border-color: var(--color-red);
}

.form-message {
  color: var(--color-red);
  font-size: 11px;
  font-style: italic;
  line-height: 14px;
  margin: 6px 16px;
}

/* btn */
.btn {
  background: var(--color-red);
  border: 0;
  border-radius: 40px;
  box-shadow: 0 4px 14px var(--color-red);
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff);
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  outline: none;
  padding: 10px 25px;
  text-decoration: none;
  transition: var(--animate);
}
.btn:hover {
  background: var(--color-pale-red);
}
.btn-white {
  background: var(--color-light);
  color: var(--color-red);
}
.btn-white:hover {
  background: var(--color-light);
  box-shadow: 0 4px 14px var(--color-pale-red);
  color: var(--color-pale-red);
}

/* shownav */
.shownav {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  height: 30px;
  margin: -6px 0 0;
  padding: 0;
  position: relative;
  width: 30px;
  -webkit-appearance: none;
}
.shownav span, .shownav span::after, .shownav span::before {
  background: var(--color-dark-blue);
  content: "";
  display: block;
  height: 4px;
  position: relative;
  transition: var(--animate);
  width: 100%;
}
.shownav span::before, .shownav span::after {
  left: 0;
  position: absolute;
}
.shownav span::before {
  top: -7px;
}
.shownav span::after {
  bottom: -7px;
}
.shownav.active {
  z-index: 100;
}
.shownav.active span {
  background: 0;
}
.shownav.active span::before {
  transform: rotate(45deg);
  top: 0;
}
.shownav.active span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* header */
.header {
  padding: 55px 0 115px;
}
.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .logo img {
  display: block;
}

/* navmenu */
.navmenu ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navmenu li {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0 var(--gap) 0 0;
}
.navmenu li:last-child {
  margin: 0;
}
.navmenu li a {
  color: var(--color-very-dark-blue);
  text-decoration: none;
  transition: var(--animate);
}
.navmenu li a:hover {
  color: var(--color-gray-blue);
}

/* section */
.section {
  margin: 0 0 var(--margin-section);
}

/* firstscreen */
.firstscreen-grid {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.firstscreen-details {
  max-width: 450px;
}
.firstscreen-text {
  max-width: 340px;
  margin: 0 0 38px;
}
.firstscreen-charts {
  width: 540px;
}

/* chartwrap */
.chartwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;
}
.chartwrap .chartgrid {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 8px 16px;
  width: 100%;
}

/* chartbox */
.chartbox {
  align-items: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 240px;
  justify-content: center;
  padding: var(--chart-grid);
}
.chartbox canvas {
  min-height: 120px;
}
.chartbox #doughnut {
  max-width: 160px;
  max-height: 160px;
}
.chartbox-block {
  display: block;
}
.chartbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--chart-grid);
  grid-row-gap: var(--chart-grid);
  width: 100%;
  height: 100%;
}
.chartbox-grid > div:nth-child(1) {
  grid-area: 1/1/2/3;
}
.chartbox-grid > div:nth-child(2) {
  grid-area: 2/1/3/2;
}
.chartbox-grid > div:nth-child(3) {
  grid-area: 2/2/3/3;
}
.chartbox-item {
  align-items: flex-end;
  background: var(--color-light);
  border-radius: 4px;
  color: var(--color-very-dark-blue);
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  padding: var(--chart-grid);
}
.chartbox-item.orange {
  background: var(--color-red);
  color: var(--color-light);
}
.chartbox-item.large {
  font-size: 38px;
  height: 110px;
}

/* advantages */
.advantages {
  margin: 0;
  padding: 0;
}
.advantages li {
  list-style: none;
  margin: 0 0 44px;
  padding-left: 94px;
  position: relative;
}
.advantages li:last-child {
  margin: 0;
}
.advantages-num {
  background: var(--color-red);
  border-radius: 40px;
  color: var(--color-light);
  left: 0;
  line-height: 20px;
  padding: 10px 5px;
  position: absolute;
  text-align: center;
  top: -7px;
  width: 68px;
}
.advantages-title {
  color: var(--color-dark-blue);
  font-weight: 700;
  margin: 0 0 12px;
}

/* reviews_container */
.reviews_container {
  overflow: hidden;
  padding-bottom: 170px;
  text-align: center;
}
.reviews_container h2 {
  margin: 0 0 68px;
}
.reviews_container .swiper {
  margin: 0 0 var(--gap);
  overflow: visible;
}
.reviews_container .swiper-pagination {
  bottom: auto;
  left: auto;
  margin: 10px 0 0;
  position: relative;
  top: auto;
  width: auto;
}
.reviews_container .swiper-pagination-bullet {
  background: 0;
  border: 1px solid var(--color-red);
  opacity: 1;
}
.reviews_container .swiper-pagination-bullet-active {
  background: var(--color-red);
}

/* comment */
.comment {
  background: var(--color-light);
  border-radius: 4px;
  margin-top: calc(var(--ava) / 2);
  padding: var(--gap);
  padding-top: calc(var(--gap) * 2);
  position: relative;
}
.comment-name {
  color: var(--color-dark-blue);
  font-weight: 500;
  margin: 0 0 10px;
}
.comment-pic {
  border-radius: var(--ava);
  display: block;
  height: var(--ava);
  left: 50%;
  margin-left: calc(var(--ava) / 2 * -1);
  object-fit: contain;
  position: absolute;
  top: calc(var(--ava) / 2 * -1);
  width: var(--ava);
}

/* footer */
.footer {
  position: relative;
}
.footer-top {
  background: var(--color-red);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
}
.footer-top::after {
  background: url(../images/bg-tablet-pattern.svg) center/600px no-repeat;
  content: "";
  display: block;
  height: 600px;
  margin-right: -30px;
  opacity: 0.1;
  position: absolute;
  right: 50%;
  top: -50px;
  width: 600px;
}
.footer-top .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer-top h2 {
  color: var(--color-light);
  margin: 0;
  max-width: 440px;
}
.footer-bottom {
  background: var(--color-very-dark-blue);
  padding: 60px 0;
}
.footer-logo img {
  display: block;
}
.footer-menu ul {
  column-gap: var(--gap);
  column-count: 2;
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin: 0 0 12px;
  width: 100%;
}
.footer-menu ul li a {
  color: var(--color-light);
  text-decoration: none;
  transition: var(--animate);
}
.footer-menu ul li a:hover {
  color: var(--color-red);
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
}
.footer-logo {
  grid-area: 1/1/2/2;
}
.footer-menu {
  grid-area: 1/2/3/4;
}
.footer-subscribe {
  grid-area: 1/4/2/5;
  position: relative;
}
.footer-subscribe .form-message {
  position: absolute;
}
.footer-social {
  grid-area: 2/1/3/2;
}
.footer .copyright {
  grid-area: 2/4/3/5;
}

/* copyright */
.copyright {
  color: var(--color-gray-blue);
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  align-self: flex-end;
}

/* subscribe */
.subscribe {
  display: flex;
}
.subscribe .form-control {
  flex: 1;
  margin: 0 10px 0 0;
}
.subscribe .btn {
  box-shadow: none;
  margin: 0;
}

/* social */
.social {
  display: flex;
  align-self: flex-end;
}
.social a {
  display: block;
  margin: 0 15px 0 0;
}
.social a:last-child {
  margin: 0;
}
.social svg {
  display: block;
  width: var(--social-btn);
}
.social svg path {
  transition: var(--animate);
}
.social svg:hover path {
  fill: var(--color-red);
}

/* attribution */
.attribution {
  background: var(--color-light);
  border-radius: 4px;
  bottom: 10px;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive */
@media screen and (max-width: 1160px) {
  :root {
    --container: 1020px;
  }
}
@media screen and (max-width: 1020px) {
  :root {
    --container: 720px;
    --margin-section: 80px;
  }
  .tb-hidden {
    display: none !important;
  }
  .tb-flex {
    display: flex;
  }
  .grid {
    display: block;
  }
  /* header */
  .header {
    padding: 35px 0 50px;
  }
  /* navmenu */
  .navmenu {
    background: var(--color-light);
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    opacity: 0;
    padding: var(--gap);
    position: absolute;
    right: 15px;
    transition: var(--animate);
    top: 40px;
    visibility: hidden;
    width: 100%;
    z-index: 100;
  }
  .navmenu ul {
    display: block;
  }
  .navmenu li {
    font-size: 16px;
    margin: 0 0 20px;
    text-align: center;
  }
  .navmenu li:last-child {
    margin: 0;
  }
  .navmenu_overlay {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: var(--animate);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
  }
  body.nav_opened .navmenu, body.nav_opened .navmenu_overlay {
    opacity: 1;
    visibility: visible;
  }
  /* firstscreen */
  .firstscreen-grid {
    flex-direction: column;
  }
  .firstscreen-details {
    max-width: none;
    margin: 0;
    order: 2;
    text-align: center;
  }
  .firstscreen-text {
    max-width: none;
  }
  .firstscreen-charts {
    margin: 0 0 30px;
    order: 1;
  }
  /* reviews_container */
  .reviews_container {
    padding-bottom: 80px;
  }
  /* advantages */
  .advantages-text {
    margin: 0 0 50px;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  :root {
    --chart-grid: 10px;
    --container: auto;
  }
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
  }
  /* bg */
  body {
    background-position: 20px -170px;
    background-size: 500px;
  }
  main {
    background-position: calc(50% + 200px) 400px;
    background-size: 370px;
  }
  /* header */
  .header {
    padding: 35px 0;
  }
  /* navmenu */
  .navmenu {
    left: 15px;
    max-width: none;
    width: auto;
  }
  /* chartbox */
  .firstscreen-charts {
    width: auto;
  }
  .chartbox {
    height: 140px;
    padding: 10px;
  }
  .chartbox canvas {
    min-height: 80px;
  }
  .chartbox-item {
    font-size: 11px;
    line-height: 12px;
    height: 50px;
  }
  .chartbox-item.large {
    font-size: 24px;
    line-height: 28px;
    height: 60px;
  }
  /* advantages */
  .advantages li {
    margin: 0 0 44px;
    padding-left: 0;
  }
  .advantages-num {
    top: 0;
  }
  .advantages-title {
    background: rgb(251, 240, 234);
    border-radius: 40px 0 0 40px;
    font-weight: 500;
    margin-right: -15px;
    padding: 7px 15px 7px 78px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  /* reviews_container */
  .reviews_container {
    padding-bottom: 40px;
  }
  /* footer */
  .footer-top {
    text-align: center;
  }
  .footer-top .container {
    display: block;
  }
  .footer-top h2 {
    margin: 0 0 20px;
    max-width: none;
  }
  .footer-top::after {
    left: -500px;
    top: -40px;
  }
  .footer-bottom {
    padding: 40px 0 80px;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .footer-subscribe {
    grid-area: 1/1/2/2;
  }
  .footer-menu {
    grid-area: 2/1/3/2;
  }
  .footer-social {
    grid-area: 3/1/4/2;
    justify-content: center;
  }
  .footer-logo {
    grid-area: 4/1/5/2;
  }
  .footer-logo img {
    margin: 0 auto;
  }
  .footer .copyright {
    grid-area: 5/1/6/2;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
